<% if (theme.disqus_shortname){ %>
<section class="comments" id="comments">
    <div id="disqus_thread"></div>
    <script>
        var disqus_shortname = '<%- theme.disqus_shortname %>';
        var disqus_config = function () {
            this.page.url = '<%- page.permalink %>';
            this.page.identifier = '<%- page.permalink %>';
        };
        (function() {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</section>
<% } %>
