<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/loading') %>
    <%- partial('_partial/menu') %>
    <main id="main">
        <%- body %>
    </main>
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/script') %>
</body>
</html>
