<head>
    <meta charset="utf-8">
    <%
      var title = page.title;

      if (is_archive()){
        title = 'Archives';
        if (is_month()){
          title += ': ' + page.year + '/' + page.month;
        } else if (is_year()){
          title += ': ' + page.year;
        }
      } else if (is_tag()){
        title = 'Tag: ' + page.tag;
      }
    %>
    <title><% if (title) { %><%= title %> - <% } %><%= config.title %></title>
    <% if(page.permalink) {%>
    <link rel="canonical" href="<%- page.permalink.replace(/index\.html$/, '') %>">
    <% }%>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if(theme.color){ %>
    <meta name="theme-color" content="<%=theme.color%>">
    <% } %>
    <% if ((config.feed) && (config.feed.path.length)) { %>
        <link rel="alternate" type="application/atom+xml" title="<%= config.title %>" href="<%- url_for(config.feed.path) %>">
    <% } %>
    <%- favicon_tag(theme.favicon) %>
    <link rel="stylesheet" href="<%- url_for(theme_css('/css/style', cache)) %>">
    <%- partial('plugins/google-analytics') %>
    <script>window.lazyScripts=[]</script>
</head>
